[submodule "firmware/PX4-Autopilot"]
	path = firmware/PX4-Autopilot
	url = git@github.com:LucyWind/PX4-Autopilot.git
[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "ros2_ws/src/livox_sim_gpu_ros2"]
    path = ros2_ws/src/livox_sim_gpu_ros2
    url = git@github.com:LucyWind/livox_gazebo_ros2_gpu_simulation.git