[submodule "firmware/PX4-Autopilot"]
	path = firmware/PX4-Autopilot
	url = git@github.com:LucyWind/PX4-Autopilot.git
[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
