[submodule "firmware/PX4-Autopilot"]
	path = firmware/PX4-Autopilot
	url = git@github.com:LucyWind/PX4-Autopilot.git
[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "ros2_ws/src/livox_sim_gpu_ros2"]
    path = ros2_ws/src/livox_sim_gpu_ros2
    url = git@github.com:LucyWind/livox_gazebo_ros2_gpu_simulation.git
[submodule "third_party/Micro-XRCE-DDS-Agent"]
	path = third_party/Micro-XRCE-DDS-Agent
    url = git@github.com:eProsima/Micro-XRCE-DDS-Agent.git
[submodule "ros2_ws/src/FAST_LIO"]
	path = ros2_ws/src/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "ros2_ws/src/livox_ros_driver2"]
	path = ros2_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
